@charset   "UTF-8";
@font-face {
    font-family: 'Nexa';
    src: url('fonts/Nexa-ExtraLight.ttf');
}
@font-face {
    font-family: 'Nexa-Heavy';
    src: url('fonts/Nexa-Heavy.ttf');
}

* {
    margin: 0;
    padding: 0;
    
}

:root {
    --color1: white ;
    --color2: #c7ff1f;
    --text-color: #aaaaaa;
    --font-family: 'Nexa', sans-serif;
}

body {
    background-color: #000000e5;
    font-family: 'Nexa', sans-serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.container {
    max-width: 300px;
    height: 480px;
    text-align: center;
    padding: 30px;
    margin: 50px auto;
    background-color: #1f1f1f;
    border-radius: 10px ;
}
.img-perfil img {
    width: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h1 {
    font-size: 25px; 
    color: var(--color1);
}

h3 {
    font-size: 15px;
    font-weight: 400;
    color: var(--color2);
    margin-bottom: 15px;
}

p {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 15px;
    
}

ul > li {
    list-style: none;
    padding: 7px;
}

a {
    display: block;
    background-color: #333333;
    padding: 5px;
    border-radius: 5px ;
    font-size: 14px;
    font-weight: 600;
    color: var(--color1);
    text-decoration: none;

}
